<div>
	<h3 class="hello-orbit-docs-title">{{ block.settings.title }}</h3>
	<p class="hello-orbit-docs-description">{{ block.settings.description }}</p>
	{% if block.settings.link %}
		<a href="{{ block.settings.link }}" class="hello-orbit-docs-link">GO!</a>
	{% endif %}
</div>
